<div class='row'>
  <div class='col-md-6'>
    <%= form_for @user do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, value: @user.name %>

      <%= f.label :email %>
      <%= f.email_field :email, value: @user.email %>

      <%= f.submit 'Update', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
