<h1>Profile</h1>
<div class='row'>
  <%= render 'menu' %>
</div>
<div class='row'>
  <div class='col-md-6'>
    <p> 
    Account details:<br>
    Name: <%= @user.name %><br>
    Email: <%= @user.email %><br>
    </p>

    <%= link_to 'Edit profile', edit_user_path, class: 'btn btn-primary'%>

    <%= link_to 'Files', user_files_path(@user), class: 'btn btn-primary'%>
  </div>
</div>
